$enable-flex: true;

@import '../node_modules/bootstrap/scss/bootstrap';

$background-color: #f0f0f0;

body {
  background-color: $background-color;
  font-family: Lato;
}

label {
  font-weight: bold;
}

svg {
  border: 1px solid darken($background-color, 25%);
}

.bar rect {
  fill: steelblue;
}

.bar text {
  fill: #fff;
  font: 10px sans-serif;
}
